vmatrix4 mWorld world[1] view[0] proj[0] dontMakeInverse
vmatrix4 mWorldViewProj proj[1] view[1] world[0] mWorld
pmatrix4 mWorldViewProjP proj[1] view[1] world[0] mWorld

vvector3df CamPos camPos4
vfloat Time + ctime 1

vfloat sinWave 20
pfloat sinWaveP 20

vfloat refractionP 20
pfloat seaLevel 20
